.logos{
    margin-top: 10vh;
    display: flex;
    overflow: hidden;
    margin-bottom: 10%;
    padding-bottom: 5%;
    /* justify-content: space-between;  */
}
.logos a{
    animation: 8s slide infinite;
    /* width: 50px; */
    /* background-color: aqua; */
    /* padding: 0 5px;        */
    margin: 0 10%;
}



@keyframes slide{
    from{
        transform: translateX(x);
    }
    to{
        transform: translateX(-100vw);

    }
}