.bottomCategorys{
    /* margin-top: 10vh; */
    display: flex;
    overflow: hidden;
    padding: 5% 0%;
    padding-left: 15%; 
    /* margin-bottom: 10%; */
    /* padding: 5% 0; */
    /* align-items: center; */
    /* background-color: aqua; */
    /* justify-content: space-between;  */
}
.bottomCategorys a{
    text-wrap: nowrap;
    color: #0485ca;
    animation: 10s slide infinite;
    /* width: 50px; */
    /* background-color: aqua; */
    /* padding: 0 5px;        */
    margin: 0 3%;
    /* margin-left: 10%; */
}



@keyframes slide{
    from{
        transform: translateX(x);
    }
    to{
        transform: translateX(-110vw);

    }
}