.CardProducts{
    background-color: white;
    width: 49vw;
    border-radius: 5%;
    margin-bottom: 5%;
    overflow: hidden;

}
.CardProducts .image{
    position: relative;
    height: 27vh;
}
.CardProducts .image img{
    border-top-left-radius: 5%;
    border-top-right-radius:5% ;
    width: 100%;
    height: 26vh;
    z-index: 4;
    position: none;
    object-fit: cover;
}
.CardProducts .image svg{
    color: #3C3D37;
    position: relative;
    bottom:18%;
    left:83%;
    scale: 1.3; 
    background-color: #F5F5F5;
    padding: 3px;
    border-radius: 10px;
}
.CardProducts .name{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    width: 90%;
    display: flex;
    text-wrap: nowrap;
    margin: 0 auto;
    color: #3c3d37c5;
}
.CardProducts .price{
    width: 90%;
    display: flex;
    margin: 5% auto;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3C3D37;
}
.logos a{
    margin: 0 10%;
}
 @media(min-width:768px){
    .CardProducts{
        margin-bottom: 2%;
        background-color: #f5f5f5;
        width: 23vw;
        height: 70vh;
        border-radius: 0%;
    }
    .CardProducts .image{
        height: 85%;
        /* background-color: red; */
    }
    .CardProducts .image img{
        /* border-top-right-radius: 2%;
        border-top-left-radius: 2%; */
        border-radius: 0%;
        object-fit: cover;
        height: 100%;
    }
    .CardProducts .name{
        font-size: 15px;
        padding: 2% 0 0;
    }
    .CardProducts .price{
        font-size: large;
        margin: 2% 5%;
    }
    .CardProducts .image svg{
        scale: 1.5;
        padding: 5px;

        border-radius: 45px;
}}