.CardCategorys{
    width: 25vh;
    height: 20vh;
    background-color: aquamarine;
    position: relative;
    overflow: hidden;
}
.CardCategorys{
    /* background-image: url("https://iili.io/dR1Eyiv.jpg"); */
    background-size: cover;
    background-position: center;
    /* height: 55vh; */
    /* margin-left: 5%; */
    /* margin-bottom: 10%; */
    width: 94vw;
    background-color: rgb(16, 9, 24);
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: red; */
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.CardCategorys h2{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 3%;
    left: 5%;
    /* color: #cae9ff; */
    font-family: 'Times New Roman', Times, serif;
    /* color: #e71d36; */
    text-decoration: underline;
}
.CardCategorys svg{
    z-index: 6;
    background-color: white;
    color: #343a40;
    position: absolute;
    top: 5%;
    right: 4%;
    padding: 1.5%;
    font-size: 25px;
    border-radius: 45px;
    opacity: 0.9;
}
/* @keyframes slide{
    from{
        transform: translateX(x);
    }
    to{
        transform: translateX(-110vw);

    }
} */