.Categorys{
    /* background-color: red; */
    height: 30vh;
    display: flex;
    /* width: 9=0%; */
    margin: auto;
    width: 100%;
    overflow: scroll;
  }

.Categorys .slide{

    /* background-color: rgb(11, 6, 31); */
    color:white;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    animation: infinite 20s slideCategory ;
}
@keyframes slideCategory{
  from{
      transform: translateX(x);
  }
  to{
      transform: translateX(-131vw);

  }
}

.carroseu{
  
  position: absolute;
  width: 100vw;
  overflow: hidden;
  /* height: 50%; */
    /* background-color: black; */
}

.Card{
    /* background-image: url("https://iili.io/dR1Eyiv.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;
    width: 94vw;
    /* background-color: rgb(16, 9, 24); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: red; */
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 
.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 8px 16px;
  border-radius: 100%;
  border: 2px solid black;
  color: red;
}

.swiper-button-prev {
  background-image: url("/box-arrow-in-left.svg");
}

.swiper-button-next {
    color: red;
  background-image: url("/box-arrow-in-right.svg");
}


.swiper-pagination-bullet{
    width: 40px;
    height: 40px;
    background-color: red;
    } */
    
    div .swiper-button-next,
    div .swiper-button-prev {
      /* background-color: white; */
      background-position: center;
      background-size: 70px;
      background-repeat: no-repeat;
      /* padding: 2px 8px; */
      border-radius: 100%;
      /* border: 1px solid black; */
      color: gray;
      width: 10vw;
      height: 10vw;
      /* opacity: 0.8; */
      margin: 0 3%;
    }

    .swiper-button-prev {
      background-image: url("/box-arrow-in-left.svg");
    }

    .swiper-button-next {
      background-image: url("/box-arrow-in-right.svg");
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        scale: 0.5;
        content: "";
    }

