.footer{
    overflow: hidden;
    display: flex;
    color: #22223b;
    flex-direction: column;
    align-items: center;
    /* height: 10vh; */
    justify-content: space-between;
    /* background-color: blue; */
    /* overflow: hidden; */
    /* background-color: #a3a3a325; */
    padding: 0%;
    padding-bottom: 10%;
    margin-top: 10%;
    border-top: 1px #22223b25 solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer .bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: 5% 10% 5%; */
    margin-top: 7%;
    /* margin-bottom: 15%; */
    /* background-color: aqua; */
}
.footer p{
    color: #22223b;
    align-items: center;
    width: 80vw;
    /* overflow: ; */
    display: flex;
    /* background-color: black; */
    padding: 0%;
    margin: 5% 0;
    padding-left: 5%;
    text-align: center;
    font-size: large;
}
.footer img{
    /* scale: 0.6; */
    margin-right: 5%;    
    margin-left: 5%;    
    width: 35%;
    /* background-color: #22223b; */
}
.footer .logos{
    padding: 0%;
    margin: 5% 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 0; */
    width: 45vw;
    height: 50%;
    /* background-color: aquamarine; */
}
.footer .logos svg{
    /* margin: au; */
    scale: 1.9;
    /* border-radius: 25%; */
}