.Home{
    /* margin-top: 8vh; */
    background-color: rgba(0, 0, 0, 0.904);
    background-image: url('../images/home.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
    color: rgba(255, 255, 255, 0.877);
    color: #090a0e;
    height: 70vh;
    padding-top: 13%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.Home .background{
    /* padding-top: 10%; */
    /* background-color: #2B2D42;
    background-color: rgba(0, 0, 0, 0.904);
    background-color: white; */
    width: 90%;
    background-color: #2b2d42a2;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 55%;

}
.Home .background h1{
    font-size: larger;
    font-weight: 400;
}
.Home .background h1{
    color: #edf2f4;
    /* position: absolute; */
    font-size: 30px;
    width: 90%;
    /* bottom: 30%; */
    margin-top: 5%;
    font-weight: 400;
    text-align: center;
    /* background-color: aqua; */
}
.Home img{
    border-radius: 3px;
    /* margin-top: 10%; */
    height: 50vh;
    width: 90%;
    border-radius: 5%;
    position: absolute;
    bottom: -10%;
    object-fit: cover;
    /* right:0 ; */
}
.Home p{
    /* position: absolute; */
    /* bottom: 17%; */
    margin: 5%;
    width: 85%;
    text-align: center;
    /* margin-top: 25%; */
    color: #edf2f4;
    font-size: medium;
    font-weight:200;
    /* background-color: #2B2D42; */
}
.Home button{
    display: flex;
    height: 10vh;
    width: 80%;
    opacity: 1;
    background-color: #edf2f4;
    border: none;
    /* border-radius: 5%; */
    color: rgba(0, 0, 0, 0.904);
    margin: 2% auto ;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 500;
    /* position: absolute; */
    bottom: 0%;
}