.Navbar{
    z-index: 5;
    display: flex;
    width: 100vw;
    height: 7vh;
    /* background-color: #0F0E0E; */
    /* border-bottom: solid 1px #33372C; */
    position: fixed;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    justify-content:space-between;
    align-items: center;
    background-color: #edf2f4;
    border-bottom: #e0e5e7 solid 1px;
}
.Navbar img{
    margin-left: 6%;
    width: 40%;
    height: 4.3vh;    
}
.Navbar svg{
    /* margin-left: 1%; */
    color: black;
    margin-top: 10%;
    scale: 1.8;
    /* margin-right: 5%; */
}
.Navbar .menu{
    margin-top: 0%;
    margin-left: 4%;
    scale: 2.2;
}
.Navbar .add{
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    /* background-color: red; */
    /* /* height: 7vh; */
    width: 15%;
    margin-right: 3%;
}