.Products{
    padding-bottom: 10%;
}
.Products .Cards{
    /* background-color: blue; */
    /* height: 20vh; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Products button{
    width: 70%;
    height: 7vh;
    display: flex;
    margin: 0cqmin auto;
    /* color: #3C3D37; */
    background-color: white;
    border: solid 2px #75757256;
    color: #3d3d3d;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
}
.Products .viewed{
    color: #757572e5;
    /* background-color: aqua; */
    text-align: center;
    font-size: small;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2%;
    margin-top: 5%;
}